body {
    margin: 0%;
}

h1 {
    font-family: "poppins", sans-serif;
    margin-top: 3%;
    color: #1a1a1a;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.center {
    text-align: center;
}

a {
    color: blue;
}

q {
    font-style: italic;
}

footer {
    background-color: white;
    padding: 2%;
    text-align: center;
}
footer p {
    font-size: .9em;
    text-align: center;
}

/* Social media */
.fa {
    padding: 1em;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.git-footer {
    height: 47px;
    margin-top: .4em;
}

.git-footer:hover {
    opacity: .7;
    transform: scale(1);
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    margin: 0 6px;
}

/* Image Styling */
img {
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

a img:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }

    .contact_responsive {
        display: none;
    }
}



/* Navbar */
.navbar {
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vh;
    float: left;
}

.navbar a {
    display: inline-block;
    font-family: "poppins", sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: black;
}

.bg-img {
    background-image: url("../imgs/tech/home.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 0px;
    width: auto;
}

.intro-text {
    text-shadow: -1px 2px black;
    top: 25%;
    left: 5%;
    position: absolute;
    font-size: x-large;
    line-height: 4.5em;
    
}
.white-text {
    color: white;
}

/* Table Styling */
* {
    box-sizing: border-box;
}

.column_1 {
    float: left;
    width: 50%;
    padding: 3% 2% 0% 2%;
    height: 400px;
    background-color: #f2f2f2;
}

@media screen and (max-width: 576px) {
    .column_1 {
        width: 100%;
        height: auto;
    }
}

.column_2 {
    float: left;
    width: 50%;
    padding-top: 1.9%;
    height: 400px;
    /* background-color: #4d4d4d; */
}

.column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.align_right {
    text-align: right;
}

@media screen and (max-width: 576px) {
    .align_right {
        text-align: left;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Contact Form */
input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Open Sans", sans-serif;
}

input[type=text]:hover,
textarea:hover {
    box-shadow: 0 0 5px #00004d inset;
}

input[type=submit] {
    background-color: rgb(10, 10, 168);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "poppins", sans-serif;
}

input[type=submit]:hover {
    background-color: rgba(19, 93, 255, 0.623);
    color: black;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}

.column_tall h1,
.column_tall-r {
    margin-top: 0px;
    padding-top: 0;
}